.mealListContainer {
  display: flex;
  flex-direction: column;
}
.mealMenuContainer {
  display: flex;
  flex-direction: column;
}
.TopMealHeader {
  width: 100%;
  text-align: center;
  color: #094040;
}
.SearchParent {
  margin-top: 10px;
  font-weight: 800;
  width: 100%;
  text-align: center;
  color: #094040;
}
.searchInputDiv {
  background-color: rgb(241, 246, 244);
  width: 220px;
  height: 30px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgb(124, 124, 124);
}
