@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

.ReviewContainer {
  display: flex;
  padding: 3px;
}
.MealReview {
  width: 30%;
  border: 4pt;
  background-color: #f1f6f4;
  margin: 3px;
  margin-top: 5px;
  padding: 2px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  overflow: auto;
}
.checked {
  color: orange;
}
