.Logo {
  display: block;
  height: 120px;
  margin-left: 41%;
  margin-top: 15px;
  /*vertical-align: top;*/
  text-align: center;
}
.HeaderDiv {
  display: block;
  width: 100%;
  height: 170px;
  background: rgb(5, 77, 48);
  overflow: unset;
  text-align: center;
}

@media (max-width: 880px) {
  .HeaderDiv {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .Logo {
    margin-left: 41%;
  }
}
