.h1,
.tableHead {
  border-bottom: solid 3px rgb(157, 241, 157);
  background-color: rgb(46, 133, 46);
  color: white;
  font-weight: bold;
}
.mealList {
  width: 100%;
  overflow-x: scroll;
}
.tableBody {
  background-color: rgb(218, 216, 216);
  font-weight: bold;
  color: rgb(69, 110, 111);
  width: 100%;
}
.link {
  color: blue;
  text-decoration: underline;
  font-style: italic;
  font-size: 16px;
}
