hr {
  width: 40px;
  height: 5px;
  color: gray;
  background-color: gray;
  margin: 5px;
}
.Menu {
  margin-top: 70px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 60px;
  z-index: 1;
  position: absolute;
}
.Menu:hover {
  background-color: white;
}
.MenuExpand {
  display: block;
  width: 100%;
}
.MenuCollapse {
  display: none;
}
.linkMenu {
  padding-left: 50%;
  font-weight: 900;
}
